*.a
*.so
*.o
*.dSYM
tags
GLDraw
/test
/build

/common/GLTools/build

/common/freetype-gl/demo-ansi
/common/freetype-gl/demo-atb-agg
/common/freetype-gl/demo-benchmark
/common/freetype-gl/demo-cartoon
/common/freetype-gl/demo-console
/common/freetype-gl/demo-cube
/common/freetype-gl/demo-distance-field
/common/freetype-gl/demo-distance-field-2
/common/freetype-gl/demo-distance-field-3
/common/freetype-gl/demo-font
/common/freetype-gl/demo-gamma
/common/freetype-gl/demo-glyph
/common/freetype-gl/demo-lcd
/common/freetype-gl/demo-makefont
/common/freetype-gl/demo-markup
/common/freetype-gl/demo-outline
/common/freetype-gl/demo-subpixel
/common/freetype-gl/demo-texture
/common/freetype-gl/makefont
/common/freetype-gl/*.o
/common/freetype-gl/CMakeFiles
/common/freetype-gl/CMakeCache.txt
/common/freetype-gl/libfreetype-gl.a
/common/freetype-gl/demo-make
/common/freetype-gl/cmake_install.cmake
